# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# Env
.env
.env.local
.env*.local

# Vercel
.vercel/

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
